
#container {
	width: 70%;
	margin: 10px auto;
}

.table {
	border: 1px solid grey;
}

.edit_link {
	color: blue;
}

.delete_link {
	color: red;
}

.name {
	font-weight: bold;
}


.value {
	font-weight: bold;
	font-size: 23px;
}